*.o
.deps/
autom4te.cache/
Makefile
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
cospkg
cosunpack
cosunpkg
dat
depcomp
eidsplitr
install-sh
makeself
missing
norunpack
pkg
puppack
pupunpack
readself
readself2
scekrit
sceverify
self_rebuilder
spp
stamp-h1
undat
ungpkg
unpkg
unself
unself2
unspp
